<section class="c-favorite c-block">
  <div class="c-inner">
    <h1 class="c-favorite__ttl c-blockHeading__ttl">お気に入りしたアイテム♡</h1>
    <ul class="c-favoriteList c-blockList jsc-fav-addListItem" data-item-list="fav">
    </ul>
  </div>
</section>