<div class="c-loader jsi-elem-fadeOut">
  <div class="c-loader-inner">
    <div class="c-loader-line"></div>
    <div class="c-loader-line"></div>
    <div class="c-loader-line"></div>
  </div>
</div>