<div class="c-modal jsc-elem-fadeToggle">
  <div class="c-modal-inner">
    <div class="c-modal-close jsi-elem-close">×</div>
    <h1 class="c-modal-ttl">ショッピングカート(<span class="c-modal-ttl--total" data-total-num="number"></span>点)</h1>
    <ul class="c-modalList c-blockList" id="cart-list">
    </ul>
    <p class="c-modal-cartTotal">合計金額：<span class="c-modal-cartTotal__price" data-total-num="price"></span>円</p>
    <a class="c-modal-btn--buy jsi-btn-buy">購入する</a>
  </div>
</div>