<section class="c-pickup c-block" data-fadeIn="fadeIn">
  <h1 class="c-pickup__ttl c-blockHeading__ttl">PICK UP</h1>
  <ul class="c-pickupList c-blockList" data-item-list="pickup">
  </ul>
</section>
