<section class="c-block" data-fadeIn="fadeIn">
  <div class="c-blockHeading">
    <h1 class="c-blockHeading__ttl">WOMAN</h1>
    <a href="#" class="c-blockHeading__more__link">もっと見る</a>
  </div>
  <ul class="c-blockList" data-item-list="woman">
  </ul>
</section>
