.c-block {
  margin-bottom: 100px;
}

.c-blockHeading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
  border-bottom: 1px solid $colorLightGray;
}

.c-blockHeading__ttl {
  font-size: 35px;
  font-weight: bold;
  color: #333333;

  @include mq("u-sp") {
    font-size: 21px;
  }
}

.c-blockHeading__more__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 20px;
  color: #2997cd;
  font-weight: bold;

  &::after {
    display: block;
    position: absolute;
    right: -15px;
    width: 7px;
    height: 7px;
    border-top: 3px solid #2997cd;
    border-right: 3px solid #2997cd;
    transform: rotate(45deg);
    content: '';
  }
}

.c-blockList {
  display: flex;
  flex-wrap: wrap;
}

.c-blockList__item {
  width: calc(100% / 5);
  cursor: pointer;
  
  &:nth-child(n+11) {
    display: none;
  }

  @include mq("u-sp") {
  width: calc(100% / 2);

    &:nth-last-child(n+3) {
      margin-bottom: 20px;
    }
  }
}

.c-blockList__item__cap {
  position: relative;
  
  &:hover {
    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($colorWhite, .3);
      content: '';
    }
  }
}

.c-blockList__item__txtList__item {
  padding: 3px;
}

.c-blockList__item__txtList__item__product {
  font-size: 18px;
  font-weight: bold;

  @include mq('u-sp') {
    font-size: 14px;
  }
}

.c-blockList__item__txtList__item__detail {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 5px;
  padding: 0 3px;
  font-size: 15px;
  color: rgba($colorDarkGray, .8);

  @include mq('u-sp') {
    font-size: 13px;
  }
}

.c-blockList__item__txtList__item__price {
  font-weight: bold;

  @include mq('u-sp') {
    font-size: 15px;
  }
}